
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 960px;
    margin:10px auto;
    background-color:darkseagreen;
}

#cabeceraweb{  
    width: 60%;
    text-align: center;
    margin: 15px auto;
    padding: 15px;
    border:3px solid chocolate;
    border-radius: 20px 5px 15px 40px; 
    box-shadow: #999 45px 5px 5px;
}

#titulo{
    font-size: 30px;
}

nav{
    text-align: center;
    margin: 10px auto;
    width: 50%;
    
}

section{
    margin: 20px 0;
    float: left;
    width: 660px;
}

li{
  font-size: 30px;
  font-style: bold;
  display: inline;
  background-color:rgba(0, 0, 255, 0.514);
  border: 2px solid dimgrey;
  margin: 0 5px;
  padding: 3px;
  text-align: center;
  box-shadow: #999 10px 5px 5px;
}
li:hover{
    background-color:blue;
   
}

li a{
    text-decoration: none;
}
aside{
    float: left;
    width: 220px;
    height: 100%;
}

.css{
    color:gold;
}

/*p[name="miselementos"]{
    color:red;
}*/

h2{
    color: rgba(0, 0, 255, 0.432);
    margin:0 10px ;
    margin: 10px;
    font-size: 50px;
}

h3{
    margin: 10px;
}

h3:nth-child(1){
    margin:0 20px ;
    color: black;
}

h4{
    margin:0 40px ;
}

p{
    margin:0 80px;
}

footer{
    clear: both;
}